<h1>Login</h1>

<%= link_to 'using facebook', '/auth/facebook' %>

<%=
  form_for :user, routes.new_user_session_path do
    text_field :email, placeholder: 'e-mail'
    password_field :password, placeholder: 'password'

    submit 'Login!'
  end
%>
