<h1>Pets</h1>

<div class="container">
  <div class="row">
    <% if pets.any? %>
      <% pets.each do |pet| %>
        <%= render partial: 'pet', locals: { pet: pet } %>
      <% end %>
    <% else %>
      <p>No pets</p>
    <% end %>
  </div>
</div>

<%= link_to 'Add new pet', routes.new_pet_path %>
