<!doctype HTML>
<html>
  <head>
    <title>Dr Pet</title>
  </head>
  <body>
    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>

    <% if logged_user? %>
      <%=
        form_for :user, routes.destroy_user_session_path, method: :delete do
          submit 'Logout'
        end
      %>
    <% end %>

    <%= yield %>
  </body>
</html>
